node-linker = isolated
virtual-store-dir = node_modules/.pnpm
shared-workspace-lockfile = true
strict-peer-dependencies = true
link-workspace-packages = true
prefer-workspace-packages = true
engine-strict = true
